{% extends 'base.html.twig' %}

{% block title %}Art mathématique{% endblock %}

{% block body %}
<div class="koch example-wrapper">
    <h2>Flocon de von Koch <i class="fa-solid fa-play"></i></h2>
    <!-- C'est grâce à l'attribut name que l'on peut récupérer la valeur associée dans symfony -->
    {{form(formKoch)}}
</div>
<div class="nees example-wrapper">
    <h2>Carré de Nees <i class="fa-solid fa-play"></i></h2>
    <!-- C'est grâce à l'attribut name que l'on peut récupérer la valeur associée dans symfony -->
    {{form(formNees)}}
</div>
<div class="johnson example-wrapper">
    <h2>Colonnes d'Olivia O. Johnson <i class="fa-solid fa-play"></i></h2>
    <!-- C'est grâce à l'attribut name que l'on peut récupérer la valeur associée dans symfony -->
    {{form(formJohnson)}}
</div>
<h2>Plus de détails sur l'aventure</h2>
<embed class="compterendu" src="compterendu.pdf" type="application/pdf">
{% endblock %}