{% extends 'base.html.twig' %}

{% block title %}Art mathématique{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>Colonnes d'Olivia O. Johnson</h2>
    <p>Plus de détails sur le fonctionnement de cette figure <a href="{{ url('app_informationsJohnson') }}">ici</a></p>
    <!-- C'est grâce à l'attribut name que l'on peut récupérer la valeur associée dans symfony -->
    {{form(formJohnson)}}
    <h2> Résultat :</h2>
    <img src="{{fichier}}" width="100%">
</div>
{% endblock %}
