{% extends 'base.html.twig' %}

{% block title %}Art mathématique{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>Flocon de von Koch :</h2>
    <!-- C'est grâce à l'attribut name que l'on peut récupérer la valeur associée dans symfony -->
    {{form(formKoch)}}
    <h2> Résultat :</h2>
    <img src="{{fichier}}" width="100%">
</div>
{% endblock %}
